@use "../1-base/variaveis";
@use "../1-base/base-mixins";

.btn {
    background-color: variaveis.$color-white;
    outline: none;
    cursor: pointer;
    border: 1px solid variaveis.$color-black;
    border-radius: 12px;
    padding: 8px 22px;
    transition: 0.3s ease-in-out;
    &:not(:last-child) {
        @include base-mixins.device(xs) {
            margin: 0px;
        }
        margin-right: 15px;
    }
}

.active,
.btn-primary {
    background-color: variaveis.$color-blue;
    border-color: variaveis.$color-blue;
    color: variaveis.$color-white !important;
}

.btn-primary {
    display: inline-block;
    padding: 13px 40px !important;
    @include base-mixins.device(m) {
        flex: 1;
    }

    &:hover {
        background-color: lighten(variaveis.$color-blue, 5%) !important;
    }
}
